<div class="form-container animated flipInY active">
                                               
	<form [formGroup]="regpoi">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="ux-input">
					<label> Place Description </label>
					<input type="text" placeholder="PlaceDescription" required name="" formControlName="PlaceDescription">
					<!-- <p class="error-message">jdnk </p> -->
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="ux-input">
					<label> Place Distance In Meters </label>
					<input type="text" placeholder="Place Distance In Meters" required="" name="" formControlName="PlaceDistanceInMeters">
					<!-- <p class="error-message">jdnk </p> -->
				</div>
			</div>
		</div>
		
	   <div class="text-right">      
		<!-- <input type="button" value="NEXT" class="btn btn-primary next">     -->
		<button class="ux-button  cust-pad back sm" type="button" value="Back" (click)="goToPage(2)">Back</button>   
		<button class="ux-button primary cust-pad  next sm" type="button" value="NEXT" (click)="getData(regpoi.value)" (click)="goToPage(4)">Next</button>    
	  </div>
	</form></div>