<div class="form-container animated flipInY flipInX active">
    <div class="row">
        <div class="col-12">
            <label>Upload Business Registration on Tax ID Documents</label>
            <div class="dropzone-wrapper">
                <div class="dropzone-desc">
                    <img src="../assets/images/svg/file.svg" alt="photo-gallery">
                    <p> Drag or Drop your files here </p>
                </div>
                <input type="file" name="img_logo" class="dropzone">
            </div>

        </div>
        <div class="col-12 mt-2">
            <label>Uploaded Files</label>
            <div class="document-list-area">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col-12">
                        <div class="document-list bg-grey no-border">
                          <label>Image_Front . JPEG</label>
                          <a href="#" class="img-preview-btn"><img src="../assets/images/svg/Close.svg" alt="view-icon" style="width: 10px;"></a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

        </div>
    </div>
      <div class="text-right">      
        <!-- <input type="button" value="NEXT" class="btn btn-primary next">     -->
        <button class="ux-button  cust-pad back sm" type="button" value="Back" (click)="goToPage(2)">Back</button>    
        <button class="ux-button primary cust-pad  next sm" type="button" value="NEXT" (click)="goToPage(4)">Next</button>    
      </div>

</div>