<div class="main">

    <!-- Header Section Start in mobile -->

   <header class="global-header brand-bg minus-nav d-block d-sm-none">
       <div class="in-header">
           <div class="header-icons-lft">
               <div class="header-actions">
               </div>
           </div>
           <div class="brand-logo">
               <h3 class="text-center">Receipt</h3>
           </div>
           <div class="header-icons-rit">
               <div class="header-actions">
               </div>
           </div>
       </div>
   </header>

   <!-- Header Section End -->

   <!-- Prelogin-page Start -->

   <div class="prelogin-page login-page">

      <div class="registration-steps">
           <div class="row1">
               <div class="col-12 position-static">

                   <div class="inner-header">
                       <div class="registration-container">
                           <!-- <a class="prev-tab" (click)="mobPrevclick()"><img src="assets/images/svg/arrowback.svg"></a> --> 
                           <h4>Receipt</h4>
                           <!-- <a class="close-registration"><img (click)="mobPrevclick('cross')" src="assets/images/svg/close-w.svg"></a> -->
                       </div>
                   </div>

                   <div class="registrationsteps-block custom-pad registration-container clearfix mb-0">
                       <div class="login-bg">
                           <div class="row">
                               <div class="col-12">
                                   <div class="login-header">
                                       <div class="brand-logo3">
                                           <img src="assets/images/logo/MHC-Logo.svg" alt="MHC-logo">
                                       </div>
                                   </div>
                               </div>
                               <div class="col-sm-12 col-12 col-md-12 mb-3">
                                   <div class="success-wrapper">
                                       <div class="row">
                                           <div Class="col-12">
                                               <div class="img-wrapper">
                                                   <img src="assets/images/svg/congratulations.svg" alt="Success-image">
                                               </div>
                                           </div>
                                           <div Class="col-12">
                                               <h2>Congratulations</h2>
                                               <p>You are successfully registered with MHC. <br/> Please enter token sent on your registerd email ID.</p>
                                           </div>
                                           <div class="col-12 text-center mt-4">
                                               <button class="ux-button primary proceed" (click)="gotoLogin()">Proceed</button>
                                           </div>
                                       </div>
                                       
                                       <div>
                                    </div>
                                </div>
                              </div>
                           </div>
                       </div>
                   </div>
                </div>
             </div>
         </div>
  
       </div>

<!-- Prelogin-page End -->

</div>

