.popup-bottom{
	z-index:992;
	position:absolute;
	left: 0;
	right: 0;
	bottom: 0;
	/*height: 40%;*/
	padding:10px 20px 20px 20px;
	/*background-color: $white;*/
    background: $white;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	@include opacity(0);
	@include transform(translateY(100%));
	@include transition(opacity 0.5s, visibility .6s, transform .4s);
	// [theme="dark"] & {background-color:$dark-theme-shade2;}
	max-height:90vh;
	overflow: auto;
	.ifscList{
		max-height: calc(100vh - 110px);
   		 overflow: auto;
	}
	@media (min-width:767px) {
		top:50%; 
		@include transform(translateY(-50%));
		width:900px;
		max-width:100%;
		margin:0 auto;
		bottom:inherit;
		border-radius:8px;
		&.sm-popup{
			width:400px
		}
		&.md-popup{
			width:600px
		}
		&.lg-popup{
			width:1000px
		}
	}
	// &.fatca{
	// 	.popup-body{
	// 	padding:20px 80px; max-height:70vh;overflow:auto;
	// 	p{
	// 		text-align: left; margin-bottom: 15px;font-size:14px; color: #707273;
	// 	}
	// 	}
	// }
	// &.otp{
	// 	h5{font-size:14px; color:#868686; 
			
	// 	}
	// 	span.otpinfo{
	// 		display:none; line-height:16px;
	// 		@media (max-width:767px) {
	// 		display:block; margin: 20px 0 20px;padding: 0 40px;
	// 	}
	// 		}
	// }
	// &.initialpayment  {
	// 	.popup-body{
	// 	text-align: center;
	// 	img{width:80px; margin:0 auto 30px; display:block;}
	// 	h5{
	// 		font-size:14px; color:#707273;line-height: 14px; margin-bottom: 15px; display:block;
	// 	}
	// 	h6{
	// 		margin-bottom: 15px; color:$black; font-size: 14px; line-height: 14px;text-align: center;
			
	// 	}
	// 	input.amount{
	// 		width:500px; margin: 0 auto 20px; border:none;border-bottom:1px solid $black; ; display:block;text-align:center;
	// 	}
	// 	.amtlist{
	// 		margin:0;padding:0;text-align:center;
	// 		li{display:inline-block; ; position:relative; margin:0 5px;cursor:pointer;
	// 			input[type="radio"]{width:100%; top:0; height:100%; z-index: 1; left:0; opacity:0;position: absolute;cursor:pointer;
	// 				&:checked ~ span{
	// 					background-color: $brand-primary-color;color: $white;
	// 				}
	// 			}
	// 			span{display:inline-block; font-size:14px; color: #62727B; padding:5px 10px; border-radius: 5px;background-color: #EFEFEF}
	// 		}
	// 	}

	// 	}
	// }

	// .scan-container {
    //     width:100%;
    //     height: auto;
    //     margin:20px auto;
    //     text-align: center;
    //     display: block;
    //    .inner1{
    //         width:180px;
    //         height: auto;
    //         margin:5px auto;
    //         text-align: center;
    //         display: block;
    //      .qr-container{
    //        position: relative;
    //         width:100%;
    //         height:auto;
    //         padding:0px;
    //         background-color:rgba($white, 1);
    //         // border-radius:8px;
    //         // box-shadow: 0 1px 6px rgba($black,0.2);
    //         text-align: center;
    //         margin:0px 0px 10px 0px; 
    //         .qr-img{
    //             position: relative;
    //             img {
    //                 margin:0;
    //                 width:100%;
    //                 height:auto;
    //                 text-align: center;
    //             } 
    //             .overlap-logo{
    //                 position: absolute;
    //                 content:"";
    //                 width:56px;
    //                 height:40px;
    //                 top:50%;
    //                 left:50%;
    //                 margin-left:-26px;
    //                 margin-top:-21px;
    //                 padding:4px;
    //                 background-color:rgba($white, 0.5);
    //                 border-radius:4px;
    //                 box-shadow: 0 1px 6px rgba($black,0.2);
    //                 text-align: center;
	// 				&.white-bg{
    //                     background-color:rgba($white, 1);
    //                 }
    //                 img{
    //                      text-align:center; 
    //                     &.icon1{
    //                       width:100%;
    //                       max-width:22px;
    //                       height:auto;
    //                       text-align:left;
    //                       display: inline-block;
    //                      }
    //                     &.icon2{
    //                         width:100%;
    //                         max-width:18px;
    //                         height:auto;
    //                         text-align:left;
    //                         display: inline-block;
    //                      }
    //                  }
					 
	// 				 svg{
    //                     text-align:center; 
    //                    &.icon1{
    //                      width:100%;
    //                      max-width:22px;
    //                      height:auto;
    //                      text-align:left;
    //                      display: inline-block;
    //                     }
    //                    &.icon2{
    //                        width:100%;
    //                        max-width:18px;
    //                        height:auto;
    //                        text-align:left;
    //                        display: inline-block;
    //                     }
    //                }
    //             } 
    //             &.disable{
    //                 opacity:0;
    //             }
    //         } 

    //         .lock-img{
    //             position:absolute;
    //             width:100%;
    //             height:100%;
    //             top:0;
    //             left:0;
    //             right:0;
    //             background-color:rgba($grey1, 0.8);
    //             .overlap-logo{
    //                 position: absolute;
    //                 content:"";
    //                 width:30px;
    //                 height:30px;
    //                 top:50%;
    //                 left:50%;
    //                 margin-left:-15px;
    //                 margin-top:-15px;
    //                 // padding:4px;
    //                 // background-color:rgba($white, 0.5);
    //                 // border-radius:4px;
    //                 // box-shadow: 0 1px 6px rgba($black,0.2);
    //                 text-align: center;
    //                 img{
    //                      text-align:center; 
    //                       position:relative;
    //                       width:30px;
    //                       height:30px;
    //                       height:auto;
    //                       text-align:center;
    //                       margin:0 auto;
    //                       display:block;
    //                      }

	// 					 svg{
	// 						text-align:center; 
	// 						 position:relative;
	// 						 width:30px;
	// 						 height:30px;
	// 						 height:auto;
	// 						 text-align:center;
	// 						 margin:0 auto;
	// 						 display:block;
	// 					 }
                      
    //                } 
    //             &.disable{
    //                 opacity:0;
    //             }
    //         }
            
            
           
    //      }
       
    //    }

    //     .inner2{
    //         width:100%;
    //         height: auto;
    //         margin:15px auto;
    //         text-align: center;
    //         display: none;
    //         .btn-section{
    //             height:auto;
    //             float:right;
    //             margin: 10px 0;
    //             .ux-button {
    //                   & + .ux-button {
    //                     margin-left: 10px;
    //                 }
    //             }  
               
    //         }
    //     }

    //     .inner3{
    //         width:100%;
    //         height: auto;
    //         margin:5px auto;
    //         text-align: center;
    //         display: block;
    //     }


    //    h4{
    //     text-align:center;
    //     font-size: 1.2rem;
    //     .fnt-large &{	font-size:1.2rem;line-height:1.3rem;}
    //     .fnt-xlarge & {	font-size:1.3rem;line-height: 1.4rem;}
    //     font-weight: 600;
    //     line-height: 1.2rem;
    //     margin: 3px auto;
    //     display: block;
    //     color: rgba($black, 0.85);
    //    }    
        
    //    h5{
    //         text-align:center;
    //         font-size: 1rem;
    //         .fnt-large &{	font-size:1.1rem;line-height:1.2rem;}
    //     .fnt-xlarge & {	font-size:1.3rem;line-height: 1.4rem;}
    //         font-weight: 500;
    //         line-height: 1rem;
    //         margin:4px auto;
    //         display: block;
    //         color: rgba($black, 0.85);
		
    //         img {
    //             margin-left:5px;
    //             width:18px;
    //             height:18px;
    //             display: inline-block; 
    //         } 
    //         a{
    //             list-style: none;
    //             text-decoration: none;
    //             opacity:1;
    //             img {
    //                 margin-left:5px;
    //                 width:18px;
    //                 height:18px;
    //                 display: inline-block; 
    //             } 
    //             &:hover{
    //                 opacity:0.8;
    //             }
    //         }
            
    //         span{
    //             text-align:center;
    //             font-size: 1rem; 
    //             color: rgba($black, 0.85);
    //             margin-right:2px;
    //             position: relative;
    //         }
    //      }
    //    h6{
    //         text-align:center;
    //         font-size: 0.9rem;
    //         .fnt-large &{	font-size:1rem;line-height:1.1rem;}
    //     .fnt-xlarge & {	font-size:1.1rem;line-height: 1.2rem;}
    //         font-weight: 500;
    //         line-height: 1rem;
    //         margin:3px auto;
    //         display: block;
    //         color: rgba($black, 0.5);
			
    //      }
    //      em{
    //         text-align:center;
    //         font-size: 0.7rem;
    //         .fnt-large &{	font-size:.8rem;line-height:.9rem;}
    //         .fnt-xlarge & {	font-size:.9rem;line-height: 1rem;}
    //         font-weight: 500;
    //         line-height: 1rem;
    //         width:100%;
    //         margin:3px auto;
    //         display: block;
    //         color: rgba($black, 0.5);
			
    //      }
    //     p {
    //         font-style:400;
    //         font-size:1rem;
    //         .fnt-large &{	font-size:1.1rem;line-height:1.2rem;}
    //     .fnt-xlarge & {	font-size:1.2rem;line-height: 1.3rem;}
    //         line-height:1.2rem;
    //         color: rgba($black,0.85);
    //         text-align: center;
			
    //      } 
    // } 


	.grid-list-section{
		height: calc(100vh - 450px);
		overflow: auto;
		overflow-x: hidden;
		z-index: 11;
		position: relative;
		width: 100%;
	}

	// .powered-logo{
    //     display:block;
    //     position: relative;
    //     margin:0 auto;
    //     text-align:center;
    //     margin-top:10px;
    //     margin-bottom:0px;
    //        img{
    //         margin:0px auto;
    //         text-align:center;
    //         width:100%;
    //         max-width:60px;
    //         height:auto;
    //         }
    //    }


	//    .mob-icon{
    //     display:block;
    //     position: relative;
    //     margin:0 auto;
    //     text-align:center;
    //     margin-top:30px;
    //     margin-bottom:10px;
	// 	@media (max-width:767px) {
	// 		margin-top:10px;
	// 	}
    //        img{
    //         margin:0px auto;
    //         text-align:center;
    //         width:100%;
    //         max-width:90px;
    //         height:auto;
	// 		@media (max-width:767px) {
	// 			max-width:60px;
	// 		}
    //       }
    //    }

	//    .autoplay-logo{	
	// 	display:block;	
	// 	position: relative;	
	// 	margin:0 auto;	
	// 	text-align:center;	
	// 	margin-top:10px;	
	// 	margin-bottom:0px;	
	// 	   img{	
	// 		margin:0px auto;	
	// 		text-align:center;	
	// 		width:100%;	
	// 		height:30px;	
	// 		}	
	//    }

    h4{	
        font-weight:500;	
		font-size: 1.3rem; 
		text-align: left;
        margin:12px 0;	
        line-height: 1.6rem;	
        color: rgba($black,0.9);	
		text-transform:initial;
		// @media (max-width:359px) {
		// 	margin:4px 0;		
		// }
		@media (min-width:767px) {
			// text-align: center;
		}

		&.primary-text{
			color: rgba($brand-primary-color, 1);
			font-weight:500;	
			font-size: 1.2rem;	
			line-height: 1.2rem;
		}
		
		img{
			width:22px;
			height:22px;
			margin: 0 6px;
			text-align: center;
			
		  } 
		  &.mar-b{
			margin-bottom: 50px;
			@media (max-width:767px) {
				margin-bottom:10px;
			}
		}  
	}
	h5{		
        font-weight:500;	
        font-size: 1.2rem; 
        text-align:left;
        margin:5px 0;	
        line-height:1.2rem;	
        color: rgba($black,0.9);	
        text-transform:initial;
		&.bold{
			font-weight: 700;
			color: rgba($black, 0.9);
			font-size: 1.1rem;
			line-height:1.2rem;	
		}
		@media (min-width:767px) {
			text-align: center;
			font-size: 14px;
		}
		
		&.mar-b{
			margin-bottom: 50px;
			@media (max-width:767px) {
				margin-bottom:10px;
			}
		}
	}
	h6{	
        font-weight:400;	
        font-size:0.95rem; 
        text-align:left;
        margin:5px 0;	
        line-height:1.2rem;	
        color: rgba($black,0.65);	
        text-transform:initial;

		&.mar-tb{
			margin:40px 0px 20px 0px;
			@media (max-width: 767px) {
				margin:10px 0px 10px 0px;
			}
		}

		&.mar-b{
			margin-bottom: 50px;
			@media (max-width:767px) {
				margin-bottom:10px;
			}
		}
	}
	em{	
        font-weight:400;	
        font-size:0.8rem;
		text-align:left;
		vertical-align:top;
        margin:2px 0;	
        line-height:0.8rem;	
        color: rgba($black,0.65);	
        text-transform:initial;
		&.error-message{
			text-align:left; color:rgba($red1, 1);
			display: block;
			font-size:0.75rem; 
		 }
		 
		 &.success-message{
			text-align:left; color:$success-color;
			display: block;
			font-size:0.75rem; 
		 }
		 &.info-message{
			text-align:left; color: rgba($black,0.5); 
			display: block;
			font-size:0.75rem; 
		 }
		 &.custom-text{
			margin:18px 0px!important;
			display: block;
			text-align: center;
		}
	}

    p{	
        font-weight:400;	
        font-size: 1rem; 
        text-align:center;
        margin:16px 0px;	
        line-height: 1.5rem;	
        color: rgba($black,0.75);	
		text-transform:initial;
		// [theme="dark"] & {color:$white}

		&.m-text{
			font-weight:400;	
			font-size:0.9rem;
			line-height: 1.3rem;
			color: rgba($black,0.75);
			text-align:left;
			&.red-text{
				font-weight:400;	
				font-size:0.9rem;
				line-height: 1.3rem;
				color: darken($red1, 5%);
				text-align:left;
			}
			
		}


		&.error-message{
			text-align:left; color:rgba($red1, 1);
			display: block;
			font-size:0.75rem;
			margin:5px 0px;	 
		 }
		 
		 &.success-message{
			text-align:left; color:$success-color;
			display: block;
			margin:5px 0px;	
			font-size:0.75rem; 
		 }
		 &.info-message{
			text-align:left; color: rgba($black,0.75); 
			display: block;
			margin:5px 0px;	
			font-size:0.75rem; 
			a{
				text-decoration: underline;
				text-align:right;
				color: rgba($black,0.75); 
			}
		 }
		 a.link-txt{
			font-size: 0.9rem; 
			// [theme="dark"] & {color:$white}
			font-weight:500;
			text-align:right;
			text-decoration:underline;
			letter-spacing:0.5px;
			color: $brand-primary-color;
			text-transform:uppercase;
			display: inline-block;
			margin-top: 10px;
		 &:hover{ 
			 color: $brand-primary-color;	            
			  text-decoration:none;
		   }
		} 

		&.custom-text{
			font-size:2rem;
			text-align: center;
			color: rgba($black,0.85);
			margin:18px auto;
		 }
		 
		span {
			font-size:0.9rem;
			margin:8px 0px;
		 	text-align:left;
			 &.link-text{
				text-align:right; 
				margin: 10px 0px; 
				display: block;
			 } 
		     &.success-text{
				text-align:left; 
				color:$brand-primary-color;
				font-size:0.9rem;
			    margin: 10px 0px; 
				display: block;
			 }
			 &.info-text{
				text-align:left; 
				color: rgba($black,0.5); 
				font-size:0.9rem;
			    margin: 10px 0px;
				display: block;
			 }
			 
		}
	}
	
	.ux-button-icon{
		background: transparent;
		border: none;
		float: right;
		margin:8px 0;
		padding: 4px 5px;
		// border-radius:6px;
		outline: none;
		cursor: pointer;
		 position: relative;
		 opacity:1;
		@media (max-width:767px) {
			padding: 4px 5px;
		}
		@media (max-width:350px) {	
			padding: 4px 4px;	
		}
		img {
			width: 23px;
			height: 23px;
			&.img-small {width: 18px;height:18px;}
			&.img-vsmall {width: 14px;height: 14px;}
		} 
        &:hover{
			opacity:0.7;
		}
		// &:active {
		// 	@include transform(scale(0.94));
		// 	background: rgba($black, 0.07);
		// }/* //.ux-button:active */

		// &.ux-button-selected {
		// 	background: rgba($brand-primary-color, 0.2);
		// } /* //&.ux-button-selected */
		// // &.locate-view {
		// // 	/*.point {display: none;}*/
		// // }
	  a {text-decoration: none;}
	}  

	.success{
		text-align: center;
		position: relative;
		display: block;
		margin:0px auto;
		padding:0px 0 12px 0;
		// border-bottom:1px dotted rgba($black,0.3);
		clear: both;
 
		h3{	
			font-weight:500;	
			font-size: 1.6rem; 
			line-height: 1.2rem;	
			margin:8px 0;
			color: rgba($black,0.9);
			text-align:center;
		}
		h4{	
			font-weight:500;	
			font-size: 1.2rem;	
			line-height: 1.2rem; 		
			margin:5px 0;
			color: rgba($black,0.9);
			text-align:center;
			
		}
		h5{	
			font-weight:400;	
			font-size: 1.1rem; 
			line-height: 1.2rem;	
			margin:5px 0;
			color: rgba($black,0.65);
			text-align:center;
	    }
		img {
			margin:20px 0px 15px 0;
			width:48px;
			height:48px;
			text-align: center;
		}  
		p {
			font-style:400;
			font-size: 0.8rem; 
			margin:0;
			color: rgba($black,0.65);
			text-align: center;
		  }
	 
	  }

    .sim-list{
        margin:10px 0px 30px 0px; padding:0px; 
        width:100%; 
        height: auto;
        overflow:hidden; 
		display: flex;
		/* Then we define the flow direction 
		   and if we allow the items to wrap 
		 * Remember this is the same as:
		 * flex-direction: row;
		 * flex-wrap: wrap;
		 */
		flex-flow: row wrap;  /* Then we define how is distributed the remaining space */
	    justify-content: space-around;
	   ul{
		  text-decoration:none; 
		  list-style:none;  
		 }
		li{
            text-decoration:none; 
            list-style:none;
             display:inline-block;
            // float:left; 
            text-align: center;
            // border-right:2px solid rgba($black, 0.2);
            a{
              text-decoration: none;  
			img{
                width:60px;
                height:60px;
                margin: 10px 0;
                text-align: center;
                fill:$brand-primary-color;
             } 
             svg{
                width:60px;
                height:60px;
                margin: 10px 0;
                text-align: center;
                fill:darken($white, 80%);
             } 
			em{	
				font-weight:400;	
				font-size: 0.9rem; 
				text-align:center;
				margin:1px 0;	
				line-height: 1rem;	
				color: rgba($black,0.6);	
				text-transform:initial;
            }
            &:hover{

                img{
                    width:60px;
                    height:60px;
                    margin: 10px 0;
                    text-align: center;
                 } 
                 svg{
                    width:60px;
                    height:60px;
                    margin: 10px 0;
                    text-align: center;
                    fill:rgba($brand-primary-color,1);
                 } 
                em{	
                   color: rgba($brand-primary-color,1);	
                    
                }
			 }
			 
			 &.active{
                 img{
                    width: 60px;
                    height: 60px;
                    margin: 10px 0;
                    text-align: center;
                 } 
                 svg{
                    width:60px;
                    height:60px;
                    margin: 10px 0;
                    text-align: center;
                    fill:rgba($brand-primary-color,1);
                 } 
                em{	
                   color: rgba($brand-primary-color,1);	
                    
                }
             }
          }
		}
		 
	 }

 

	 a.reg-txt{
		font-size: 0.9rem; 	
		font-weight:400;
		text-align:right;
		text-decoration:underline;
		letter-spacing:0.5px;
		color: $brand-primary-color;
		&.mar-top{
		   margin-top:39px;
		   display: inline-block;
		   @media (max-width: 992px) {
			margin-top:5px;
			margin-bottom:5px;
		}
		}
		&:hover{             
		  text-decoration:none;
	   }
	} 

    button.ux-button{
          margin:10px 0 0 0;
     }
    
     
	&.popup-active {
		visibility: visible;
		@include opacity(1);
		@include transform(translate(0));
		@include transition(opacity 0.3s, visibility 0.2s, transform .4s);
		@media (min-width: 767px) {
			@include transform(translateY(-50%));
		}
	}
    
	&.ioslist-active {
		visibility: visible;
		@include opacity(1);
		@include transform(translate(0));
		@include transition(opacity 0.3s, visibility 0.2s, transform .4s);
	} 
	.nav-mobile-footer {
		padding: 10px 0;
		text-align: right;

		p {
			color: rgba($white, .3);
			font-size: 10px; 
			margin: -10px 0 14px;
			padding: 0px 8px;
		}

		@media screen and (min-width: 992px) {
			display: none;
		}
	}
 	 
}


