<header class="global-header">
    <div class="desk-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2 d-none">
                    <div class="header-actions ">
                        <button class="ux-button-header menu-btn">
                            <img src="assets/images/svg/menu.svg" alt="menu-icon">
                        </button>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2">
                  <img src="assets/images/logo/kiya-logo.svg" alt="kiya-logo" title="logo" class="logo"> 
                  <h1></h1> 
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                    <div class="header-items">
                        <ul class="header-list-info">
                            
                            <li class="d-none">
                                <a href="#" id="toggle-btn" class="active" data-toggle="tooltip"
                                    data-placement="top" title="Toogle Fullscreen">
                                    <div class="icon">
                                        <img src="assets/images/svg/full-screen.svg" alt="full-screen-icon">
                                    </div>
                                </a>
                            </li>
                           
                            <li style="position: relative;">
                                <a href="#" class="notification-btn" data-toggle="tooltip" data-placement="top"
                                    title="Notifications">
                                    <div class="icon">
                                        <img src="assets/images/svg/bell.svg" alt="bell-icon">
                                        <span class="overlap-dot">
                                            3
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li style="position: relative;">
                              
                                    <div class="icon">
                                        <img src="assets/images/svg/logout.svg" alt="logout-icon">
                                       
                                    </div>
                            </li>
                            <li>
                                <a href="#" class="item-user">
                                    <div class="icon">
                                        <img src="assets/images/icons/user2.png" alt="user-icon" class="profile_icon_circle">
                                    </div>
                                </a>
                                <div class="bm-userprofile">
                                    <ul class="lst-userprofile">
                                        <li>
                                            <div class="userprofile-container">
                                                <div class="row">
                                                    <div class="col-12 col-md-12">
                                                        <em>Signed in as</em>
                                                        <span>Mr. Brian Hughes</span>
                                                        <em>Last login <i>12 Jan 2022,</i><b>16:25</b></em>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="common-action profile-btn">
                                                <img src="assets/images/svg/user2.svg" alt="user-icon" class="profile_icon_circle">
                                                Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="common-action setting-btn">
                                                <img src="assets/images/svg/setting-d.svg"
                                                    alt="setting-icon"> Setting
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login.html" class="common-action border-t logout-btn">
                                                <img src="assets/images/svg/exit.svg" alt="logout-icon"> Sign
                                                Out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
